[package]
name = "chainx-primitives"
version = "0.3.0"
authors = ["Chainpool <http://www.chainx.org>"]

[dependencies]
serde = { version = "1.0", default_features = false }
serde_derive = { version = "1.0", optional = true }
parity-codec = { version = "2.0", default-features = false }
parity-codec-derive = { version = "2.0", default-features = false }
substrate-primitives = { git = "https://github.com/paritytech/substrate", default_features = false }
sr-std = { git = "https://github.com/paritytech/substrate/", default_features = false }
sr-primitives = { git = "https://github.com/paritytech/substrate", default_features = false }

[dev-dependencies]
substrate-serializer = { git = "https://github.com/paritytech/substrate" }
pretty_assertions = "0.4"

[features]
default = ["std"]
std = [
    "parity-codec-derive/std",
    "parity-codec/std",
	"substrate-primitives/std",
	"sr-std/std",
	"sr-primitives/std",
	"serde/std",
    "serde_derive",
]
