**/target/
**/*.rs.bk
*.swp
.wasm-binaries
chainx/runtime/wasm/target/
!runtime/wasm/target/wasm32-unknown-unknown/release/chainx_runtime.compact.wasm
**/._*
.vscode/
.DS_Store
*.o
*.so
*.rlib
*.dll
/target/
*.exe
**/*.rs.bk
.vs/
.idea/
chainx/
!rpc/src/chainx
bak/
.chainx/
