[package]
name = "chainx"
version = "1.0.3"
build = "build.rs"
authors = ["Chainpool <https://www.chainx.org>"]
edition = "2018"

[[bin]]
name = "chainx"
path = "src/main.rs"

[dependencies]
ctrlc = { version = "3.0", features = ["termination"] }
futures = "0.1.17"
serde_json = "1.0"
error-chain = "0.12"
chainx-cli = { path = "./cli" }

[build-dependencies]
vergen = "3"

[features]
msgbus-log = ["chainx-cli/msgbus-log"]
msgbus-redis = ["chainx-cli/msgbus-redis"]
msgbus-redis-keyhash = ["msgbus-redis", "chainx-cli/msgbus-redis-keyhash"]
cache-lru = ["chainx-cli/cache-lru"]

[workspace]
members = [
    "primitives",
    "executor",
    "runtime",
    "cli",
    "rpc",
    "rpc-servers",
    "runtime-api",
    "xr-primitives",
    # ChainX runtime module libraries
    "xrml/xbootstrap",
    "xrml/xfisher",
    "xrml/xsystem",
    "xrml/xsupport",
    "xrml/xaccounts",
    "xrml/xsession",
    "xrml/xgrandpa",
    "xrml/xaura",
    "xrml/xmultisig",
    "xrml/xfee/manager",
    "xrml/xassets/assets",
    "xrml/xassets/records",
    "xrml/xassets/process",
    "xrml/xdex/spot",
    "xrml/xmining/staking",
    "xrml/xmining/tokens",
    "xrml/xbridge/common",
    "xrml/xbridge/bitcoin",
    "xrml/xbridge/sdot",
    "xrml/xbridge/features",
]
