[package]
name = "chainx"
version = "2.0.0-alpha"
authors = ["ChainX community <https://www.chainx.org>"]
edition = "2018"
description = "Fully Decentralized Interchain Crypto Asset Management on Polkadot"

[patch.crates-io]
# jsonrpc-derive requires a new version after v14.2.
# Remove this once Substrate releases a new tag with this patch.
jsonrpc-derive = { git = "https://github.com/paritytech/jsonrpc", rev = "57575efe9c220c7e7c0addf3c90e9577e3296c80" }
# patch for substrate runtime module
frame-executive = { path = "./frame/executive" }
pallet-transaction-payment = { path = "./frame/transaction-payment" }

[dependencies]
cli = { package = "chainx-cli", path = "cli" }

[workspace]
members = [
    "cli",
    "executor",
    "primitives",
    "primitives/runtime",
    "primitives/mining/common",
    "primitives/mining/staking",
    "primitives/assets-registrar",
    "rpc",
    "runtime",

    "xpallets/assets",
    "xpallets/assets-registrar",
    "xpallets/assets/rpc",
    "xpallets/assets/rpc/runtime-api",
    "xpallets/gateway/bitcoin",
    "xpallets/contracts",
    "xpallets/contracts/common",
    "xpallets/contracts/rpc",
    "xpallets/contracts/rpc/runtime-api",
    "xpallets/dex/spot",
    "xpallets/dex/spot/rpc",
    "xpallets/dex/spot/rpc/runtime-api",
    "xpallets/mining/asset",
    "xpallets/mining/asset/rpc",
    "xpallets/mining/asset/rpc/runtime-api",
    "xpallets/mining/staking",
    "xpallets/mining/staking/rpc",
    "xpallets/mining/staking/rpc/runtime-api",
    "xpallets/protocol",
    "xpallets/support",
]

[profile.release]
panic = "unwind"

[features]
runtime-benchmarks = ["cli/runtime-benchmarks"]
