[package]
name = "chainx-rpc"
version = "2.0.0"
authors = ["Chainpool <http://www.chainx.org>"]
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "1.3.0", features = ["derive"] }
jsonrpc-core = "14.0.3"
jsonrpc-core-client = "14.0.5"
jsonrpc-derive = "14.0.3"
serde_json = "1.0"
hex = "0.4"

sc-service = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3", features = ["test-helpers"] }
sc-client-api = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sp-api = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sp-transaction-pool = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sp-blockchain = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sp-state-machine = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
frame-support = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }

pallet-transaction-payment-rpc = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
substrate-frame-rpc-system = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }

chainx-primitives = { path = "../primitives" }
chainx-runtime = { path = "../runtime" }


