[package]
name = "chainx-rpc"
version = "2.0.0"
authors = ["ChainX community <https://www.chainx.org>"]
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "1.3.1", features = ["derive"] }
hex = "0.4"
jsonrpc-core = "14.2.0"
jsonrpc-core-client = "14.2.0"
jsonrpc-derive = "14.2.1"
serde_json = "1.0"

# Substrate client
sc-client-api = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4" }
sc-service = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4", features = ["test-helpers"] }
sc-rpc-api = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4" }

# Substrate primitives
sp-api = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4" }
sp-blockchain = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4" }
sp-block-builder = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4" }
sp-consensus = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4" }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4" }
sp-state-machine = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4" }
sp-transaction-pool = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4" }

# Substrate pallets
frame-support = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4" }
substrate-frame-rpc-system = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4" }

chainx-runtime = { path = "../runtime" }

# ChainX primitives
chainx-primitives = { path = "../primitives" }

# ChainX pallets
xpallet-assets-rpc = { path = "../xpallets/assets/rpc" }
xpallet-assets-rpc-runtime-api = { path = "../xpallets/assets/rpc/runtime-api" }
xpallet-contracts-rpc = { path = "../xpallets/contracts/rpc" }
xpallet-contracts-rpc-runtime-api = { path = "../xpallets/contracts/rpc/runtime-api" }
xpallet-transaction-payment-rpc = { path = "../xpallets/transaction-payment/rpc" }
xpallet-gateway-records-rpc = { path = "../xpallets/gateway/records/rpc" }
