[package]
name = "xpallet-system"
version = "2.0.0-alpha.0"
authors = ["The ChainX Authors"]
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "1.3.4", default-features = false, features = ["derive"] }
serde = { version = "1.0", optional = true }

# Substrate primitives
sp-runtime = { version = "2.0.0", default-features = false }
sp-std = { version = "2.0.0", default-features = false }

# Substrate pallets
frame-system = { version = "2.0.0", default-features = false }
frame-support = { version = "2.0.0", default-features = false }

# ChainX pallets
xpallet-protocol = { path = "../protocol", default-features = false }

[features]
default = ["std"]
std = [
    "codec/std",
    "serde",
    # Substrate primitives
    "sp-runtime/std",
    "sp-std/std",
    # Substrate pallets
    "frame-system/std",
    "frame-support/std",
    # ChainX pallets
    "xpallet-protocol/std",
]
