[package]
name = "chainx-cli"
version = "2.0.0"
authors = ["ChainX community <https://www.chainx.org>"]
edition = "2018"

[dependencies]
futures = "0.3.4"
jsonrpc-core = "14.0.3"
log = "0.4.8"
parking_lot = "0.10.0"
structopt = "0.3.8"

# Substrate client
sc-basic-authorship = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sc-cli = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sc-client-api = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sc-consensus = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sc-consensus-aura = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sc-executor = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sc-finality-grandpa = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sc-network = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sc-rpc = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sc-service = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sc-transaction-pool = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }

# Substrate primitives
sp-core = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sp-consensus = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sp-consensus-aura = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sp-finality-grandpa = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sp-inherents = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
sp-transaction-pool = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }

chainx-primitives = { path = "../primitives" }
chainx-runtime = { path = "../runtime" }
chainx-rpc = { path = "../rpc" }

xpallet-protocol = { path = "../xpallets/protocol" }

[build-dependencies]
substrate-build-script-utils = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc3" }
