[package]
name = "chainx-cli"
version = "2.0.0-beta.0"
authors = ["The ChainX Authors"]
description = "Implementation of protocol https://chainx.org in Rust based on the Substrate framework."
edition = "2018"

[dependencies]
futures = "0.3.4"
log = "0.4.8"
log4rs = { version = "0.12", features = ["rolling_file_appender", "compound_policy", "size_trigger", "fixed_window_roller"] }
hex = "0.4"
hex-literal = "0.3.1"
jsonrpc-pubsub = "15.0.0"
parking_lot = "0.11.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
structopt = "0.3.8"

# Substrate client
sc-authority-discovery = "0.8.0"
sc-basic-authorship = "0.8.0"
sc-chain-spec = "2.0.0"
sc-client-api = "2.0.0"
sc-consensus = "0.8.0"
sc-consensus-babe = "0.8.0"
sc-consensus-slots = "0.8.0"
sc-executor = "0.8.0"
sc-finality-grandpa = "0.8.0"
sc-network = "0.8.0"
sc-rpc = "2.0.0"
sc-transaction-pool = "2.0.0"

frame-benchmarking-cli = { version = "2.0.0", optional = true }
sc-cli = { version = "0.8.0", optional = true }
sc-service = { version = "0.8.0", optional = true }

# Substrate primitives
sp-core = "2.0.0"
sp-consensus = "0.8.0"
sp-consensus-babe = "0.8.0"
sp-finality-grandpa = "2.0.0"
sp-inherents = "2.0.0"
sp-runtime = "2.0.0"
sp-transaction-pool = "2.0.0"
sp-authority-discovery = "2.0.0"

# Substrate pallets
pallet-im-online = "2.0.0"

chainx-executor = { path = "../executor" }
chainx-dev-runtime = { path = "../runtime/dev" }
chainx-primitives = { path = "../primitives" }
chainx-rpc = { path = "../rpc" }
chainx-runtime = { path = "../runtime/chainx" }
chainx-runtime-common = { path = "../runtime/common" }

xp-assets-registrar = { path  = "../primitives/assets-registrar" }
xp-genesis-builder = { path  = "../primitives/genesis-builder" }
xp-protocol = { path = "../primitives/protocol" }

xpallet-gateway-bitcoin = { path  = "../xpallets/gateway/bitcoin" }
xpallet-gateway-common = { path  = "../xpallets/gateway/common" }

[build-dependencies]
substrate-build-script-utils = "2.0.0"

[features]
default = ["cli"]
cli = [
    "sc-cli",
    "sc-service",
    "frame-benchmarking-cli",
    "chainx-executor/wasmi-errno",
]
wasmtime = [
    "sc-cli/wasmtime",
    "sc-service/wasmtime",
    "chainx-executor/wasmtime",
]
runtime-benchmarks = [
    "chainx-runtime/runtime-benchmarks",
    "chainx-dev-runtime/runtime-benchmarks",
]
