[package]
name = "chainx-cli"
version = "2.0.0"
authors = ["ChainX community <https://www.chainx.org>"]
edition = "2018"

[dependencies]
futures = "0.3.4"
log = "0.4.8"
parking_lot = "0.10.0"
structopt = "0.3.8"
log4rs = { version = "0.12", features = ["rolling_file_appender", "compound_policy", "size_trigger", "fixed_window_roller"] }
hex = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

# Substrate client
sc-basic-authorship = { version = "0.8.0-rc5" }
sc-cli = { version = "0.8.0-rc5" }
sc-client-api = { version = "2.0.0-rc5" }
sc-consensus = { version = "0.8.0-rc5" }
sc-consensus-aura = { version = "0.8.0-rc5" }
sc-executor = { version = "0.8.0-rc5" }
sc-finality-grandpa = { version = "0.8.0-rc5" }
sc-network = { version = "0.8.0-rc5" }
sc-rpc = { version = "2.0.0-rc5" }
sc-service = { version = "0.8.0-rc5" }
sc-transaction-pool = { version = "2.0.0-rc5" }
sc-chain-spec = { version = "2.0.0-rc5" }

# Substrate primitives
sp-core = { version = "2.0.0-rc5" }
sp-consensus = { version = "0.8.0-rc5" }
sp-consensus-aura = { version = "0.8.0-rc5" }
sp-finality-grandpa = { version = "2.0.0-rc5" }
sp-inherents = { version = "2.0.0-rc5" }
sp-runtime = { version = "2.0.0-rc5" }
sp-transaction-pool = { version = "2.0.0-rc5" }

# Substrate pallets
frame-benchmarking-cli = { version = "2.0.0-rc5" }
pallet-im-online = { version = "2.0.0-rc5" }

chainx-primitives = { path = "../primitives" }
chainx-runtime = { path = "../runtime" }
xp-io = { path = "../primitives/io" }
chainx-rpc = { path = "../rpc" }
chainx-executor = { path = "../executor" }

xpallet-protocol = { path = "../xpallets/protocol" }
xpallet-gateway-bitcoin = { path = "../xpallets/gateway/bitcoin" }

[build-dependencies]
substrate-build-script-utils = { version = "2.0.0-rc5" }
