[package]
name = "chainx-cli"
version = "2.0.0-alpha.0"
authors = ["The ChainX Authors"]
edition = "2018"

[dependencies]
futures = "0.3.4"
log = "0.4.8"
parking_lot = "0.10.0"
structopt = "0.3.8"
log4rs = { version = "0.12", features = ["rolling_file_appender", "compound_policy", "size_trigger", "fixed_window_roller"] }
hex = "0.4"
hex-literal = "0.2.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
jsonrpc-pubsub = "15.0.0"

# Substrate client
sc-authority-discovery = { version = "0.8.0" }
sc-basic-authorship = { version = "0.8.0" }
sc-client-api = { version = "2.0.0" }
sc-consensus = { version = "0.8.0" }
sc-consensus-aura = { version = "0.8.0" }
sc-executor = { version = "0.8.0" }
sc-finality-grandpa = { version = "0.8.0" }
sc-network = { version = "0.8.0" }
sc-rpc = { version = "2.0.0" }
sc-transaction-pool = { version = "2.0.0" }
sc-chain-spec = { version = "2.0.0" }

sc-cli = { version = "0.8.0", optional = true }
sc-service = { version = "0.8.0", optional = true }
frame-benchmarking-cli = { version = "2.0.0" }

# Substrate primitives
sp-core = { version = "2.0.0" }
sp-consensus = { version = "0.8.0" }
sp-consensus-aura = { version = "0.8.0" }
sp-finality-grandpa = { version = "2.0.0" }
sp-inherents = { version = "2.0.0" }
sp-runtime = { version = "2.0.0" }
sp-transaction-pool = { version = "2.0.0" }
sp-authority-discovery = { version = "2.0.0" }

# Substrate pallets
pallet-im-online = { version = "2.0.0" }

chainx-primitives = { path = "../primitives" }
chainx-runtime = { path = "../runtime" }
xp-io = { path = "../primitives/io" }
chainx-rpc = { path = "../rpc" }
chainx-executor = { path = "../executor" }

xpallet-protocol = { path = "../xpallets/protocol" }
xpallet-gateway-bitcoin = { path = "../xpallets/gateway/bitcoin" }

[build-dependencies]
substrate-build-script-utils = { version = "2.0.0" }

[features]
default = ["cli"]
cli = [
    "sc-cli",
    "sc-service",
    "chainx-executor/wasmi-errno",
]
wasmtime = [
    "sc-cli/wasmtime",
    "sc-service/wasmtime",
    "chainx-executor/wasmtime",
]
runtime-benchmarks = [
    "chainx-runtime/runtime-benchmarks",
]
