[package]
name = "xp-gateway-common"
version = "5.2.2"
authors = ["The ChainX Authors"]
edition = "2021"

[dependencies]
bs58 = { version = "0.3", default-features = false, features = ["alloc"] }
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
hex = { version = "0.4", default-features = false }
scale-info = { version = "2.0.1", default-features = false, features = ["derive"] }

# Substrate primitives
sp-core = { git = "https://github.com/chainx-org/substrate", branch = "polkadot-v0.9.18-fix2", default-features = false }
frame-support = { git = "https://github.com/chainx-org/substrate", branch = "polkadot-v0.9.18-fix2", default-features = false }

# ChainX primitives
xp-io = { path = "../../io", default-features = false, optional = true }

[features]
default = ["std"]
std = [
    "bs58/std",
    "codec/std",
    "hex/std",
    "scale-info/std",
    # Substrate primitives
    "sp-core/std",
    "frame-support/std",
    # ChainX primitives
    "xp-io/std",
]
ss58check = ["xp-io"]
