[package]
name = "xpallet-assets"
version = "0.1.0"
authors = ["ChainX community <https://www.chainx.org>"]
edition = "2018"

[dependencies]
bitmask = { version = "0.5.0", default-features = false }
codec = { package = "parity-scale-codec", version = "1.3.1", features = ["derive"], default-features = false }
serde = { version = "1.0", optional = true }

# Substrate primitives
sp-std = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4", default-features = false }

# Substrate pallets
frame-support = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4", default-features = false }
frame-system = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4", default-features = false }

# ChainX primitives
chainx-primitives = { path = "../../primitives", default-features = false }
xp-runtime = { path = "../../primitives/runtime", default-features = false }

# ChainX pallets
xpallet-protocol = { path = "../protocol", default-features = false }
xpallet-support = { path = "../support", default-features = false }

[dev-dependencies]
sp-io = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4" }
sp-core = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4" }

pallet-balances = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4" }

env_logger = "0.7.1"

[features]
default = ["std"]
std = [
    "bitmask/std",
    "codec/std",
    "serde",

    "sp-std/std",
    "sp-runtime/std",

    "frame-support/std",
    "frame-system/std",

    "chainx-primitives/std",
    "xp-runtime/std",

    "xpallet-protocol/std",
    "xpallet-support/std",
]
