[package]
name = "xpallet-assets"
version = "2.0.5"
authors = ["The ChainX Authors"]
edition = "2018"

[dependencies]
bitflags = "1.2"
codec = { package = "parity-scale-codec", version = "1.3.4", default-features = false, features = ["derive"] }
serde = { version = "1.0", optional = true }

# Substrate primitives
sp-runtime = { version = "2.0.0", default-features = false }
sp-std = { version = "2.0.0", default-features = false }

# Substrte pallets
frame-benchmarking = { version = "2.0.0", default-features = false, optional = true }
frame-support = { version = "2.0.0", default-features = false }
frame-system = { version = "2.0.0", default-features = false }

# Orml
orml-traits = { version = "0.3", default-features = false }

# ChainX primitives
chainx-primitives = { path = "../../primitives", default-features = false }
xp-logging = { path = "../../primitives/logging", default-features = false }
xp-protocol = { path = "../../primitives/protocol", default-features = false }

# ChainX pallets
xpallet-assets-registrar = { path = "../assets-registrar", default-features = false }
xpallet-support = { path = "../support", default-features = false }

[dev-dependencies]
env_logger = "0.7.1"
sp-io = "2.0.0"
sp-core = "2.0.0"
pallet-balances = "2.0.0"

[features]
default = ["std"]
std = [
    "codec/std",
    "serde",
    # Substrate primitives
    "sp-runtime/std",
    "sp-std/std",
    # Substrte pallets
    "frame-support/std",
    "frame-system/std",
    # Orml
    "orml-traits/std",
    # ChainX primitives
    "chainx-primitives/std",
    "xp-logging/std",
    "xp-protocol/std",
    # ChainX pallets
    "xpallet-assets-registrar/std",
    "xpallet-support/std",
]
runtime-benchmarks = [
    "frame-benchmarking",
]
