[package]
name = "chainx-executor"
version = "2.0.0-beta.0"
authors = ["The ChainX Authors"]
edition = "2018"

[dependencies]
frame-benchmarking = "2.0.0"
sc-executor = "0.8.0"

# ChainX runtime
chainx-runtime = { path = "../runtime" }

# ChainX primitives
xp-io = { path = "../primitives/io" }

[features]
wasmtime = [
    "sc-executor/wasmtime",
]
wasmi-errno = [
    "sc-executor/wasmi-errno",
]
