[package]
name = "chainx-executor"
version = "2.0.8-1"
authors = ["The ChainX Authors"]
edition = "2018"

[dependencies]
frame-benchmarking = "3.0.0"
sc-executor = "0.9.0"

# ChainX runtime
chainx-runtime = { path = "../runtime/chainx" }
dev-runtime = { path = "../runtime/dev" }
malan-runtime = { path = "../runtime/malan" }

# ChainX primitives
xp-io = { path = "../primitives/io" }

[features]
wasmtime = [
    "sc-executor/wasmtime",
]
wasmi-errno = [
    "sc-executor/wasmi-errno",
]
