[package]
name = "chainx-executor"
version = "2.0.0-alpha.0"
authors = ["The ChainX Authors"]
edition = "2018"

[dependencies]
frame-benchmarking = { version = "2.0.0-rc6" }
sc-executor = { version = "0.8.0-rc6" }
chainx-runtime = { path = "../runtime" }
xp-io = { path = "../primitives/io" }

[features]
wasmtime = [
    "sc-executor/wasmtime",
]
wasmi-errno = [
    "sc-executor/wasmi-errno",
]
