[package]
name = "xpallet-gateway-records"
version = "1.0.0"
authors = ["Chainpool <https://www.chainx.org>"]
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "1.3.4", features = ["derive"], default-features = false }
serde = { version = "1.0", optional = true }

# Substrate
sp-std = { version = "2.0.0-rc6", default-features = false }
sp-runtime = { version = "2.0.0-rc6", default-features = false }

frame-support = { version = "2.0.0-rc6", default-features = false }
frame-system = { version = "2.0.0-rc6", default-features = false }

frame-benchmarking = { version = "2.0.0-rc6", default-features = false, optional = true }

# orml
orml-utilities = { version = "0.1.3-dev", git = "https://github.com/open-web3-stack/open-runtime-module-library.git", rev = "27d55f6a8e74b989578ccfb7c44616c3016dcb2a", default-features = false }

# ChainX
chainx-primitives = { path = "../../../primitives", default-features = false }
xp-runtime = { path = "../../../primitives/runtime", default-features = false }

xpallet-assets = { path = "../../assets", default-features = false }
xpallet-assets-registrar = { path = "../../assets-registrar", default-features = false }
xpallet-protocol = { path = "../../protocol", default-features = false }
xpallet-support = { path = "../../support", default-features = false }

[dev-dependencies]
# Substrate
sp-io = { version = "2.0.0-rc6" }
sp-core = { version = "2.0.0-rc6" }

pallet-balances = { version = "2.0.0-rc6" }

[features]
default = ["std"]
std = [
    "codec/std",
    "serde",

    # Substrate
    "sp-std/std",
    "sp-runtime/std",
    "frame-support/std",
    "frame-system/std",

    "orml-utilities/std",

    # ChainX
    "chainx-primitives/std",
    "xp-runtime/std",

    "xpallet-assets/std",
    "xpallet-assets-registrar/std",
    "xpallet-protocol/std",
    "xpallet-support/std",
]
runtime-benchmarks = [
    "frame-benchmarking",
]
