[package]
name = "xp-mining-common"
version = "2.0.8"
authors = ["The ChainX Authors"]
edition = "2018"

[dependencies]
# Substrate primitives
sp-arithmetic = { version = "2.0.1", default-features = false }
sp-runtime = { version = "2.0.1", default-features = false }

# ChainX primitives
chainx-primitives = { path = "../../../primitives", default-features = false }

[features]
default = ["std"]
std = [
    # Substrate primitives
    "sp-arithmetic/std",
    "sp-runtime/std",
    # ChainX primitives
    "chainx-primitives/std",
]
