[package]
name = "xp-mining-common"
version = "5.1.1"
authors = ["The ChainX Authors"]
edition = "2021"

[dependencies]
# Substrate primitives
sp-arithmetic = { git = "https://github.com/chainx-org/substrate", branch = "polkadot-v0.9.18", default-features = false }
sp-runtime = { git = "https://github.com/chainx-org/substrate", branch = "polkadot-v0.9.18", default-features = false }

# ChainX primitives
chainx-primitives = { path = "../../../primitives", default-features = false }

[features]
default = ["std"]
std = [
    # Substrate primitives
    "sp-arithmetic/std",
    "sp-runtime/std",
    # ChainX primitives
    "chainx-primitives/std",
]
