[package]
name = "xp-mining-common"
version = "0.1.0"
authors = ["ChainX community <https://www.chainx.org>"]
edition = "2018"

[dependencies]
# Substrate primitives
sp-std = { version = "2.0.0-rc5", default-features = false }
sp-runtime = { version = "2.0.0-rc5", default-features = false }
sp-arithmetic = { version = "2.0.0-rc5", default-features = false }

# ChainX primitives
chainx-primitives = { path = "../../../primitives", default-features = false }

[features]
default = ["std"]
std = [
    "sp-std/std",
    "sp-runtime/std",

    "chainx-primitives/std",
]
