[package]
name = "xpallet-support"
version = "5.2.1"
authors = ["The ChainX Authors"]
edition = "2021"

[dependencies]
hex = { version = "0.4", default-features = false, features = ["alloc"] }

# Substrate primitives
sp-std = { git = "https://github.com/chainx-org/substrate", branch = "polkadot-v0.9.18-fix2", default-features = false }

[features]
default = ["std"]
std = [
    "hex/std",
    # Substrate primitives
    "sp-std/std",
]
