[package]
name = "xpallet-support"
version = "2.0.0-alpha.4"
authors = ["The ChainX Authors"]
edition = "2018"

[dependencies]
hex = { version = "0.4", default-features = false }
# Substrate primitives
sp-std = { version = "2.0.0", default-features = false }

# Substrate pallets
frame-support = { version = "2.0.0", default-features = false }

[features]
default = ["std"]
std = [
    "hex/std",
    # Substrate primitives
    "sp-std/std",
    # Substrate pallets
    "frame-support/std",
]
