[package]
name = "xpallet-dex-spot"
version = "2.0.8-1"
authors = ["The ChainX Authors"]
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "1.3.6", default-features = false, features = ["derive"] }
serde = { version = "1.0.101", optional = true }

# Substrate primitives
sp-arithmetic = { version = "2.0.1", default-features = false }
sp-runtime = { version = "2.0.1", default-features = false }
sp-std = { version = "2.0.1", default-features = false }

# Substrate pallets
frame-benchmarking = { version = "2.0.1", default-features = false, optional = true }
frame-support = { version = "2.0.1", default-features = false }
frame-system = { version = "2.0.1", default-features = false }
pallet-balances = { version = "2.0.1", default-features = false }

# ChainX primitives
chainx-primitives = { path = "../../../primitives", default-features = false }
xp-logging = { path = "../../../primitives/logging", default-features = false }
xp-protocol = { path = "../../../primitives/protocol", default-features = false, optional = true }

# ChainX pallets
xpallet-assets = { path = "../../assets", default-features = false }
xpallet-assets-registrar = { path = "../../assets-registrar", default-features = false }
xpallet-support = { path = "../../support", default-features = false }

[dev-dependencies]
env_logger = "0.7.1"
sp-core = "2.0.1"
sp-io = "2.0.1"
frame-benchmarking = "2.0.1"
xp-protocol = { path = "../../../primitives/protocol" }

[features]
default = ["std"]
std = [
    "codec/std",
    "serde",
    # Substrate primitives
    "sp-arithmetic/std",
    "sp-runtime/std",
    "sp-std/std",
    # Substrate pallets
    "frame-support/std",
    "frame-system/std",
    "pallet-balances/std",
    # ChainX primitives
    "chainx-primitives/std",
    "xp-logging/std",
    # ChainX pallets
    "xpallet-assets/std",
    "xpallet-assets-registrar/std",
    "xpallet-support/std",
]
runtime-benchmarks = [
    "frame-benchmarking",
    "xp-protocol",
]
