[package]
name = "xpallet-dex-spot"
version = "0.1.0"
authors = ["ChainX community <https://www.chainx.org>"]
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "1.3.4", default-features = false, features = ["derive"] }
serde = { version = "1.0.101", optional = true }
chrono = { version = "0.4", optional = true }

# Substrate primitives
sp-std = { version = "2.0.0-rc6", default-features = false }
sp-runtime = { version = "2.0.0-rc6", default-features = false }
sp-arithmetic = { version = "2.0.0-rc6", default-features = false }

# Substrate pallets
frame-support = { version = "2.0.0-rc6", default-features = false }
frame-system = { version = "2.0.0-rc6", default-features = false }
pallet-balances = { version = "2.0.0-rc6", default-features = false }

frame-benchmarking = { version = "2.0.0-rc5", default-features = false, optional = true }

# ChainX primitives
chainx-primitives = { path = "../../../primitives", default-features = false }

# ChainX pallets
xpallet-assets-registrar = { path = "../../assets-registrar", default-features = false }
xpallet-assets = { path = "../../assets", default-features = false }
xpallet-support = { path = "../../support", default-features = false }
xpallet-protocol = { path = "../../protocol", default-features = false, optional = true }

[dev-dependencies]
xpallet-protocol = { path = "../../protocol" }
sp-core = { version = "2.0.0-rc6" }
sp-io = { version = "2.0.0-rc6" }
frame-benchmarking = { version = "2.0.0-rc6" }
env_logger = "0.7.1"

[features]
default = ["std"]
std = [
    "codec/std",
    "serde",
    "chrono",

    "sp-std/std",
    "sp-runtime/std",
    "sp-arithmetic/std",

    "frame-support/std",
    "frame-system/std",
    "pallet-balances/std",

    "chainx-primitives/std",

    "xpallet-assets-registrar/std",
    "xpallet-assets/std",
    "xpallet-support/std",
]
runtime-benchmarks = [
    "frame-benchmarking",
    "xpallet-protocol",
]
