[package]
name = "xpallet-generic-reserves"
version = "0.1.0"
authors = ["ChainX community <https://www.chainx.org>"]
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "1.3.1", features = ["derive"], default-features = false }
serde = { version = "1.0", optional = true }

# Substrate primitives
sp-std = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4", default-features = false }
sp-core = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4", default-features = false }

# Substrate pallets
frame-support = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4", default-features = false }
frame-system = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4", default-features = false }
pallet-balances = { git = "https://github.com/paritytech/substrate.git", tag = "v2.0.0-rc4", default-features = false }

# ChainX primitives
chainx-primitives = { path = "../../primitives", default-features = false }

# ChainX pallets
xpallet-protocol = { path = "../protocol", default-features = false }
xpallet-support = { path = "../support", default-features = false }
xpallet-assets = { path = "../assets", default-features = false }

[features]
default = ["std"]
std = [
    "codec/std",
    "serde",

    "sp-std/std",
    "sp-core/std",
    "sp-runtime/std",

    "frame-support/std",
    "frame-system/std",

    "chainx-primitives/std",

    "xpallet-assets/std",
    "xpallet-protocol/std",
    "xpallet-support/std",
]
